<launch>
  <arg name="map_file"  default="0229"/> <!--地图文件名-->
  <!--  ****** Maps *****  --> 
    <arg name="map_directory" default="$(env MAP_DIRECTORY)"/>
    <node name="map_server" pkg="map_server" type="map_server" 
    args="$(arg map_directory)/$(arg map_file).yaml">
    <param name="frame_id" value="map"/>
  </node>
</launch>
