#serial and usb
KERNEL=="ttyS[0-5]",GROUP="root", MODE="0666"
KERNEL=="ttyUSB[0-6]",GROUP="root", MODE="0666"
KERNEL=="video[0-12]",GROUP="root", MODE="0666"

#lidar
KERNEL=="ttyUSB*", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE:="0777", SYMLINK+="front_lidar"
KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", MODE:="0777", SYMLINK+="rear_lidar"

#camera
KERNEL=="video[0,2,4,6,8]|video1[0,2,4]", ATTRS{idVendor}=="1e45", ATTRS{idProduct}=="0209", MODE:="0666", SYMLINK+="base_camera"
KERNEL=="video[0,2,4,6,8]|video1[0,2,4]", ATTRS{idVendor}=="343f", ATTRS{idProduct}=="930a", MODE:="0666", SYMLINK+="head_camera"

#berxel_camer
SUBSYSTEM=="usb", ATTR{idProduct}=="8612", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="86ff", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="0001", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="1001", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="0002", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="0003", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="0004", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="0003", ATTR{idVendor}=="04b4", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="0005", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="1006", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="0004", ATTR{idVendor}=="0c45", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="0007", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="0008", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="0009", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="000a", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="000b", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="000c", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="000d", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="000e", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="000f", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="0010", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="0011", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="0012", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="0013", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="0014", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="0015", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="0016", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="0017", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="0018", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="0019", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="001a", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="001b", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="001c", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
SUBSYSTEM=="usb", ATTR{idProduct}=="001d", ATTR{idVendor}=="0603", MODE="0666",OWNER="berxel",GROUP="berxel"
